* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

.section__desktop::before {
  content: '';
  position: absolute;
  background: #f1f5fe;
  border-radius: 0px 0px 0px 191.5px;
  height: 449px;
  width: 100%;
  background-image: url('../img/Group.svg');
  background-repeat: no-repeat;
  background-position: top 65px left 50%;
  z-index: -1;
}

.section__head {
  display: flex;
  justify-content: center;
  padding-top: 104px;
  padding-bottom: 92px;
}
@media all and (max-width: 600px) {
  .section__head {
    padding: 80px 30px;
  }
}

.head__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 800;
  text-align: center;
  color: #293356;
  margin-bottom: 12px;
}
@media all and (max-width: 600px) {
  .head__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.desktop {
  position: relative;
  margin: 0 auto;
  max-width: 540px;
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  padding: 30px 20px;
}
@media all and (max-width: 600px) {
  .desktop {
    max-width: 400px;
    margin: 15px;
  }
}
.desktop__number {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #293356;
}
.number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
input {
  width: 200px;
  height: 35px;
  margin: 0 10px;
  border: solid 1px gray;
  border-radius: 5px;
  padding-left: 15px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
input:optional {
  padding-left: 15px;
  font-size: 15px;
}
input:focus {
  outline: none;
  border: solid 3px rgba(8, 84, 250, 0.2);
}
input:hover {
  border: solid 1px rgba(8, 84, 250, 0.4);
}

select {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #444;
  border: solid 1px gray;
  border-radius: 5px;
  padding-left: 15px;
  padding: 9px 21px 8px 12px;
  width: 150px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 9px top 50%, 0 0;
  background-size: 9px auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border: solid 1px rgba(8, 84, 250, 0.4);
}
select:focus {
  border: solid 3px rgba(8, 84, 250, 0.2);
  outline: none;
}
select option {
  font-weight: normal;
}
.dialog__count {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.result {
  width: 150px;
  height: 41px;
  margin-left: 15px;
  border: solid 1px gray;
  border-radius: 20.5px;
  color: #293356;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button {
  min-width: 150px;
  height: 41px;
  background: #293356;
  border-radius: 20.5px;
  border: solid 1px #293356;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  color: #becdff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.validate {
  font-size: 15px;
  color: rgb(241, 18, 18);
  margin-bottom: 5px;
}
